<!-- views/partials/_head.ejs -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        http-equiv="Content-Security-Policy"
        content="script-src 'self' https://gc.kis.v2.scr.kaspersky-labs.com; object-src 'none';"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <title><%= title || "Project Management App" %></title>
</head>
