<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/_head.ejs', {title: 'Get Started'}); %>
    <body>
        <div
            class="welcome-container flex flex-col items-center justify-center h-screen"
        >
            <h1 class="text-3xl font-bold mb-4">
                Welcome to Project Management App
            </h1>
            <p class="mb-8">
                Get started by creating an account as an owner or a member.
            </p>
            <div class="links-container flex flex-row justify-center space-x-4">
                <a
                    href="/auth/owner/signup"
                    class="bg-black text-white border rounded-lg p-2 hover:bg-gray-900"
                >
                    Create Owner Account
                </a>
                <a
                    href="/auth/member/signup"
                    class="bg-black text-white border rounded-lg p-2 hover:bg-gray-900"
                >
                    Create Member Account
                </a>
            </div>
        </div>
    </body>
</html>
